# JSON with Python

In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [2]:
json_obj = """
{
    "zoo_animal":"Lion",
    "food":["Meat","Veggies","Honey"],
    "fur":"Golden",
    "clothes":null,
    "diet":[{ "zoo_animal":"Gazelle","food":"grass","fur":"Brown"}]
}
"""

In [3]:
import json

In [4]:
data = json.loads(json_obj)
data

{'zoo_animal': 'Lion',
 'food': ['Meat', 'Veggies', 'Honey'],
 'fur': 'Golden',
 'clothes': None,
 'diet': [{'zoo_animal': 'Gazelle', 'food': 'grass', 'fur': 'Brown'}]}

## Convertir en un formato est√°ndar

In [7]:
json.dumps(data)

'{"zoo_animal": "Lion", "food": ["Meat", "Veggies", "Honey"], "fur": "Golden", "clothes": null, "diet": [{"zoo_animal": "Gazelle", "food": "grass", "fur": "Brown"}]}'

In [8]:
dataframe = DataFrame( data['diet'] )
dataframe

  zoo_animal   food    fur
0    Gazelle  grass  Brown