# Reading a File

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [5]:
dframe = pd.read_csv('./dataframe/nfl_data.csv')
dframe

,Rank,Team,\tWon,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North

In [2]:
dframe = pd.read_csv('./dataframe/nfl_data.csv', header=None)
dframe

,0,1,2,3,4,5,6,7,8
0,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
1,1,Dallas Cowboys,510,378,6,.574,1960,894,NFC East
2,2,Chicago Bears,752,563,42,.570,1920,1357,NFC North
3,3,Green Bay Packers,741,561,37,.567,1921,1339,NFC North
4,4,Miami Dolphins,443,345,4,.562,1966,792,AFC East
5,5,Baltimore Ravens,182,143,1,.560,1996,326,AFC North

In [4]:
dframe = pd.read_table('./dataframe/nfl_data.csv', sep=',', header=None)
dframe

,0,1,2,3,4,5,6,7,8
0,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
1,1,Dallas Cowboys,510,378,6,.574,1960,894,NFC East
2,2,Chicago Bears,752,563,42,.570,1920,1357,NFC North
3,3,Green Bay Packers,741,561,37,.567,1921,1339,NFC North
4,4,Miami Dolphins,443,345,4,.562,1966,792,AFC East
5,5,Baltimore Ravens,182,143,1,.560,1996,326,AFC North

In [7]:
dframe = pd.read_csv('./dataframe/nfl_data.csv',header=None, nrows=3)
dframe

,0,1,2,3,4,5,6,7,8
0,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
1,1,Dallas Cowboys,510,378,6,.574,1960,894,NFC East
2,2,Chicago Bears,752,563,42,.570,1920,1357,NFC North

## Exportar archivos

In [8]:
dframe.to_csv('./dataframe/otherdata_out.csv')

In [9]:
import sys

In [11]:
dframe.to_csv(sys.stdout)

,0,1,2,3,4,5,6,7,8
0,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
1,1,Dallas Cowboys,510,378,6,.574,1960,894,NFC East
2,2,Chicago Bears,752,563,42,.570,1920,1357,NFC North

In [12]:
dframe.to_csv(sys.stdout, sep='_')

_0_1_2_3_4_5_6_7_8
0_Rank_Team_Won_Lost_Tied*_Pct._First Season_Total Games_Conference
1_1_Dallas Cowboys_510_378_6_.574_1960_894_NFC East
2_2_Chicago Bears_752_563_42_.570_1920_1357_NFC North

In [13]:
dframe.to_csv(sys.stdout, sep='?')

?0?1?2?3?4?5?6?7?8
0?Rank?Team?Won?Lost?Tied*?Pct.?First Season?Total Games?Conference
1?1?Dallas Cowboys?510?378?6?.574?1960?894?NFC East
2?2?Chicago Bears?752?563?42?.570?1920?1357?NFC North

In [14]:
dframe.to_csv(sys.stdout, columns=[0,1,2])

,0,1,2
0,Rank,Team,Won
1,1,Dallas Cowboys,510
2,2,Chicago Bears,752

## Referencia

In [15]:
url = 'https://docs.python.org/2/library/csv.html'