# Reindex

In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0 )

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [7]:
ser3 = Series(['USA','Mexico','Canada'], index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [8]:
ranger = range(15)
ranger

range(0, 15)

In [9]:
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [13]:
dframe = DataFrame(randn(25).reshape((5,5)), index = ['A','B','D','E','F'],
                                    columns = [ 'col1','col2','col3','col4','col5' ] )
dframe

       col1      col2      col3      col4      col5
A -1.565836  0.357576  0.723608  0.049746 -0.477290
B  0.897490  0.753867  0.128493  2.880011 -1.514240
D -0.035902 -1.215043  0.277457 -0.999312 -1.302269
E  0.346666 -0.206496  2.234565  0.038481  1.540167
F  0.909956  0.018725 -0.923643 -2.124027 -0.016154

In [14]:
dframe2 = dframe.reindex(['A','B','C','D','E'])
dframe2

       col1      col2      col3      col4      col5
A -1.565836  0.357576  0.723608  0.049746 -0.477290
B  0.897490  0.753867  0.128493  2.880011 -1.514240
C       NaN       NaN       NaN       NaN       NaN
D -0.035902 -1.215043  0.277457 -0.999312 -1.302269
E  0.346666 -0.206496  2.234565  0.038481  1.540167

In [26]:
new_columns = ['col1','col2','col3','col4','col5','col6']
new_columns2 = ['col1','col2','col3','col4','col5']

In [16]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -1.565836  0.357576  0.723608  0.049746 -0.477290   NaN
B  0.897490  0.753867  0.128493  2.880011 -1.514240   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.035902 -1.215043  0.277457 -0.999312 -1.302269   NaN
E  0.346666 -0.206496  2.234565  0.038481  1.540167   NaN

In [17]:
dframe

       col1      col2      col3      col4      col5
A -1.565836  0.357576  0.723608  0.049746 -0.477290
B  0.897490  0.753867  0.128493  2.880011 -1.514240
D -0.035902 -1.215043  0.277457 -0.999312 -1.302269
E  0.346666 -0.206496  2.234565  0.038481  1.540167
F  0.909956  0.018725 -0.923643 -2.124027 -0.016154

In [27]:
dframe.loc[ ['A','B','D','E','F'], new_columns2 ]

       col1      col2      col3      col4      col5
A -1.565836  0.357576  0.723608  0.049746 -0.477290
B  0.897490  0.753867  0.128493  2.880011 -1.514240
D -0.035902 -1.215043  0.277457 -0.999312 -1.302269
E  0.346666 -0.206496  2.234565  0.038481  1.540167
F  0.909956  0.018725 -0.923643 -2.124027 -0.016154