# Pandas

It is a module for analyzing data.

## Series

A series is more like an array in Numpy except it has data labels and it's indexed.
And more like "dictionary" to python.

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
objSeries = Series( [3,6,9,12] )
objSeries

0     3
1     6
2     9
3    12
dtype: int64

In [5]:
objSeries.values

array([ 3,  6,  9, 12])

In [6]:
objSeries.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
fruitsNumber = Series( [100,200,300,400,500], index=['Pineapple','Apple','Grape', 'Cherry','Banana'] )
fruitsNumber

Pineapple    100
Apple        200
Grape        300
Cherry       400
Banana       500
dtype: int64

In [8]:
fruitsNumber['Banana']

500

In [9]:
# Check which Fruits is greater than 200
fruitsNumber[ fruitsNumber > 200 ]

Grape     300
Cherry    400
Banana    500
dtype: int64

In [11]:
'Grape' in fruitsNumber

True

Convert Series to Dictionary

In [12]:
fruitsNumber_dict = fruitsNumber.to_dict()
fruitsNumber_dict

{'Pineapple': 100, 'Apple': 200, 'Grape': 300, 'Cherry': 400, 'Banana': 500}

Convert Dictionary to Series

In [13]:
fruits_series = Series( fruitsNumber_dict )
fruits_series

Pineapple    100
Apple        200
Grape        300
Cherry       400
Banana       500
dtype: int64

Convert Dictionary to Series in an another way.

In [14]:
others_fruits = [ 'Mango','Avocato','Cherry', 'Grape']

In [15]:
fruitsObj2 = Series( fruitsNumber_dict, index=others_fruits )
fruitsObj2

Mango        NaN
Avocato      NaN
Cherry     400.0
Grape      300.0
dtype: float64

Verificar si existen nulos(campos vacíos)

In [16]:
pd.isnull(fruitsObj2)

Mango       True
Avocato     True
Cherry     False
Grape      False
dtype: bool

Verificar campos que no son vacíos.

In [17]:
pd.notnull(fruitsObj2)

Mango      False
Avocato    False
Cherry      True
Grape       True
dtype: bool

In [18]:
fruitsNumber + fruitsObj2

Apple          NaN
Avocato        NaN
Banana         NaN
Cherry       800.0
Grape        600.0
Mango          NaN
Pineapple      NaN
dtype: float64

In [19]:
fruitsObj2.name = "Estadísticas de las frutas"

In [20]:
fruitsObj2

Mango        NaN
Avocato      NaN
Cherry     400.0
Grape      300.0
Name: Estadísticas de las frutas, dtype: float64

In [22]:
fruitsObj2.index.name = "Estadísticas de las frutas 2"
fruitsObj2

Estadísticas de las frutas 2
Mango        NaN
Avocato      NaN
Cherry     400.0
Grape      300.0
Name: Estadísticas de las frutas, dtype: float64