# Reading a File

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [5]:
dframe = pd.read_csv('./dataframe/nfl_data.csv')
dframe

,Rank,Team,\tWon,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North